---
import Layout from '../components/Layout.astro';
---

<Layout title="Astro Quickstart">
  <main>
    <div id="content">
      <div class="header">
        <h1>La Rimaudiere</h1>
        <p>2 R. des Martyrs, 75009 Paris, France</p>
        <a href="https://www.instagram.com/larimaudiere/" target="_blank" rel="noopener noreferrer">
          <img src="/instagram.jpeg" width="50px" style="mix-blend-mode: multiply;" />
          <br />
          <br />
        </a>
      </div>
      <img src="/rimaudiere.jpg" width="90%" style="margin: auto; max-width: 1200px;" />
    </div>
  </main>
</Layout>
